* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --primary-bg: #d1adcd;
}
/* LINKING ^ */
/* BACKGROUND */
body {
  background-color: #d1adcd;
  height: 210vh;
}
/*  ANYTHING FOR THE BACKGROUND ^ */
/* CHRIS CSS */
#logo {
  /* display:flex; */
  position: relative;
  width: 90vw;
  height: 20vh;
  background-color: #f2efe7;
  margin: auto;
  margin-top: 2.5vw;
}
#imgDiv { 
  position: absolute;
  /* justify-content: center; */
  align-items: center;
  width: 45vw;
  height: 20vh; 
  /* left: 25vw; */
  border: 2px solid black;

}
img#logoImg {
width: 100%;
height: 100%;
}
/* CHRIS END */
/* MARIO CSS */
#nav {
  width: 90vw;
  height: 10vh;
  background-color: #17968b;
  margin: auto;
  margin-top: 2.5%;
}
#flex-container {
  display: flex;
  flex-wrap: nowrap;
}

#flex-container > div {
  width: 350px;
  margin: 40px;
  text-align: center;
  line-height: 15px;
  font-size: 30px;
  text-decoration: none;
}
a {
  color: #faf0e6;
}
a:hover {
  color: hotpink;
}
/* MARIO END */
/* JAYCEE CSS */
#header {
  width: 90vw;
  height: 45vh;
  background-color: #d8d628;
  margin: auto;
  margin-top: 2.5%;
}
/* JAYCEE END */
/* LILY CSS */
#sidebarContainer {
  background-color: #17968b;
  width: 25vw;
  height: 100vh;
  margin-top: 2.5%;
  margin-left: 4.5%;
  float: left;
}
/* LILY END */
/* JAXON CSS */
#bodyArea {
  width: 60vw;
  height: 100vh;
  background-color: #faf0e6;
  margin-top: 2.5%;
  margin-right: 4.5%;
  float: right;
}
#headBody {
  text-align: center;
  font-size: 3rem;
  text-decoration: underline;
}
#textBody {
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5%;
}
/* JAXON END */
/* SAM CSS */
#footer {
  width: 90vw;
  height: 10vh;
  background-color: #d8d628;
  margin: auto;
  margin-top: 2.5%;
  float: left;
  margin-left: 4.5%;
}
/* SAM END */
